
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nazwa Firmy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#description"><i class="fa fa-cogs fa-fw"></i> About</a>
                    </li>
                    <li>

                        <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Twoje mieszkanie</h1>
                        <h3>Wynajmij wyjątkowe miejsce w centrum Krakowa.</h3>
                        <hr class="intro-divider">                       
                          <a href="#description" class="btn btn-default btn-lg"><i class="fa fa-cogs fa-fw"></i> <span class="network-name">Jak to działa</span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a" id="description">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Oto kalendarz mieszkania<br></h2>
                    <p class="lead">Możesz sprawdzić w jakie dni <a target="_blank" href="http://join.deathtothestockphoto.com/">mieszkanie jest wynajęte.</a> Pozwoli Ci to na zaplanowanie swojego czasu i wybranie najlepszej daty na wynajem mieszkania.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 icons">
                    <i class="fa fa-calendar fa-5x pull-right"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Zarezerwuj mieszkanie<br> w najlepszym momencie</h2>
                    <p class="lead">Wybierz date która najbardziej Ci odpowiada i dopasuje się do twoich planów. Wypełnij <a target="_blank" href="http://www.psdcovers.com/">formularz</a> swoimi danymi osobowymi oraz wybranym przez Ciebie terminem.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 icons">
                    <i class="img-responsive fa fa-comments fa-5x"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Będziemy czekać<br>aż do nas napiszesz!</h2>
                    <p class="lead">Skontaktujemy się z Tobą przy pomocy danych wysłanych w formularzu. <a target="_blank" href="http://www.google.com/fonts">Omówimy najlepsze warunki współpracy</a>, oraz ustalimy termin odbioru kluczy.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 icons">
                    <i class="img-responsive fa fa-envelope fa-5x pull-right"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">                  
                    <a href="/reservations" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">REZERWUJ</span></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
