
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Twoje mieszkanie</h1>
                        <h3>Wynajmij wyjątkowe mieszkanie w centrum Krakowa.</h3>
                        <hr class="intro-divider">                       
                          <a href="#description" class="btn btn-default btn-lg how_works" id="how_works"><i class="fa fa-cogs fa-fw"></i> <span class="network-name">Jak to działa</span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a" id="description">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Oto kalendarz mieszkania<br></h2>
                    <p class="lead">Możesz sprawdzić w jakie dni <a target="_blank" href="http://join.deathtothestockphoto.com/">mieszkanie jest zajęte.</a> Pozwoli Ci to na zaplanowanie swojego czasu i wybranie najlepszej daty na wynajem mieszkania.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 icons">
                    <i class="fa fa-calendar fa-5x pull-right"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Zarezerwuj mieszkanie<br> w najlepszym momencie</h2>
                    <p class="lead">Wybierz date która najbardziej Ci odpowiada i dopasuje się do twoich planów. Wypełnij <a target="_blank" href="http://www.psdcovers.com/">formularz</a> swoimi danymi osobowymi oraz wybranym przez Ciebie terminem.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 icons">
                    <i class="img-responsive fa fa-comments fa-5x"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Będziemy czekać<br>aż do nas napiszesz!</h2>
                    <p class="lead">Skontaktujemy się z Tobą przy pomocy danych wysłanych w formularzu. <a target="_blank" href="http://www.google.com/fonts">Omówimy najlepsze warunki współpracy</a>, oraz ustalimy termin odbioru kluczy.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 icons">
                    <i class="img-responsive fa fa-envelope fa-5x pull-right"></i>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">                  
                    <a href="/reservations" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">REZERWUJ</span></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


<script type="text/javascript">
$(document).ready(function() {
    $('.how_works').click(function(){
        $('html, body').animate({
            scrollTop: $( $(this).attr('href') ).offset().top - 20
        }, 1000);
        return false;
    });
});

</script>
