
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Twoje mieszkanie</h1>
                        <h3>Wynajmij wyjątkowe mieszkanie w centrum Krakowa.</h3>
                        <hr class="intro-divider">                       
                          <a href="#description" class="btn btn-default btn-lg how_works" id="how_works"><i class="fa fa-cogs fa-fw"></i> <span class="network-name">Jak to zrobić</span></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a" id="description">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Kalendarz mieszkania<br></h2>
                        <p class="lead">Oto aplikacja ktora pozwoli Ci sprawdzić w jakie dni <%= link_to "mieszkanie jest wolne.", flat_path %> Będziesz mógł zaplanować swojój czas i wybrać najlepszą datę na wynajem mieszkania.</p>
                    </div>
                    <div class="col-md-6 icons">
                        <i class="fa fa-calendar fa-4x"></i>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 pull-right">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Zarezerwuj mieszkanie<br> w najlepszym momencie</h2>
                        <p class="lead">Wybierz date która najbardziej Ci odpowiada i dopasuje się do twoich planów. Wypełnij <a target="_blank" href="http://www.psdcovers.com/">formularz</a> swoimi danymi osobowymi oraz wybranym przez Ciebie terminem.</p>
                    </div>
                    <div class="col-md-6 icons img-circle">
                        <i class="img-responsive fa fa-comments fa-4x"></i>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Będziemy czekać<br>aż do nas napiszesz!</h2>
                        <p class="lead">Skontaktujemy się z Tobą przy pomocy danych wysłanych w formularzu. <a target="_blank" href="http://www.google.com/fonts">Omówimy najlepsze warunki współpracy</a>, oraz ustalimy termin odbioru kluczy.</p>
                    </div>
                    <div class="col-md-6 icons">
                        <i class="img-responsive fa fa-envelope fa-4x"></i>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center"> 
                    <%= link_to flat_path, class: "btn reservation-btn btn-lg" do %>
                        <i class="fa fa-key fa-fw"></i> PRZEJDZ DO MIESZKANIA
                    <% end %>                 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


<script type="text/javascript">
$(document).ready(function() {
    $('.how_works').click(function(){
        $('html, body').animate({
            scrollTop: $( $(this).attr('href') ).offset().top - 50
        }, 1000);
        return false;
    });
});

</script>
