/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 4%;
  min-height: 600px;
}

.letter-space{
  letter-spacing: 1px;
}

.ui-datepicker { 
   z-index: 1000 !important;
}

.navbar-custom {
    background-color: #14151E;
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight:lighter;
}

.navbar-custom a{
  color: #FFFEF9;
}

.navbar-custom a:hover{
  color: #14151E;
}

.reservation-btn{
  background-color: #ff5a5f;
  opacity: 0.9;
  color: white;
  letter-spacing: 2px;
}

.reservation-btn:hover{
  background-color: #E8CACA;
}

